div{
    border: 2px solid;
    height: 75px;
    /* the "visible" value/state means if any overflow occures allow it the overflow to be seen */
    /* overflow: visible; */
    
    /* the "hidden" value/state means that if any text were to overflow it will be hidden, but we are still able to interact with it. (like copying all the text using ctl + a)*/
    /* overflow: hidden; */
    
    /* the "clip" value/state is usually used in conjuction with the overflow-clip-margin attribute which allows us to decide how much of the the content that overflows can be seen. */
    /* overflow: clip; */
    /* overflow-clip-margin: 13px; */

    /* the "scroll" value/state allows us to create a scroll bar for the entier length of our content.*/
    /* overflow: scroll; */

    /* The "auto" value/state allows us to get a scroll bar only when the overflow content would require it so if the text fits fine on a full size page nothing happens, but when you minimize the screen the scroll bar would appear */
    overflow: auto;





}