/* This is a trick that people will use to add the box-sizing: border-box attribute to all elements and "*" means all elements. */
*{
    box-sizing: border-box;
}

.container{
    background-color: hsl(0, 0%, 61%);
    /* the unit "vh" means (veiwport height) */
    height: 100vh;
}

.box{
background-color: hsl(0, 17%, 95%);

    border: 2px solid;

    /* by using the "auto" value/state the elements will have automatically set heights when the page is rendered */
    /* height: auto; */


    height: auto;
    /* width: auto; */

    /* when using padding or boarders and you want to disregard them while using height or width properties you must use the (box-sizing: boarder-box) */

    /* When there is a boarder the two block level elemets will not be able to line up side to side because there is a boarder taking up the space this would be the same case if you used padding */
    float: left;
    padding: 25px;

    /* This causes the div elemets to take up 50% of the width of the viewport */
    width: 50%;

    /* Block level elements like the <div> always want to take up as much width as possible */

    text-align: center;

    /* this is how you can set the constraints of the height or width of elements on a webpage. */
    /* max-width: 25%; */
    /* min-width: 75%; */

    max-height: 50%;
}