.pagination{
    text-align: center;
}

.pagination a{
    color: black;
    /* text decoration is the underlining of hyperlinks */
    text-decoration: none;
    padding: 8px 15px;
    /* by making the display properties of the hyperlinks inline-block we can adjust the width and height of these elements */
    display: inline-block;
}

.pagination a.active{
    background-color: hsl(120, 82%, 61%);
    font-weight: bold;
    border-radius: 10px;
}

.pagination a:hover:not(.active){
    background-color: hsl(0, 0%, 49%);
    border-radius: 10px;
}