#container{
    border: 2px solid;
}
/* This will mark all paragraph desendants of our container div */
/* #container p{
    background-color: hsl(60, 70%, 72%);
} */

/* This will mark all paragraph children of our container div class and #3 is not highlighted because it is not a child, but not a child kinda like a grand child. */
/* #container > p{
    background-color: hsl(60, 70%, 72%);
} */

/* This will mark all paragraphs that are general siblings of our container div element. */
/* #container ~ p{
    background-color: hsl(60, 70%, 72%);
} */

/* This will mark the next paragraph element below our container div element that is a sibling to our container div element */
#container + p{
    background-color: hsl(60, 70%, 72%);
}