/* These are font-face rules which are used to call the .ttf font files and rename them for easy local use. */
@font-face{
    src: url(fonts/Doto-VariableFont_ROND\,wght.ttf);
    font-family: Doto;
}

@font-face{
    src: url(fonts/Matemasie-Regular.ttf);
    font-family: Matemasie;
}

h1{
    /* sans-serif font are easier to read on monitors or mobile devices */
    /* to add a fall back font because a web browser cannot display a font type enter the fall backs after the first seperated by commas */
    font-family: Doto, verdana, ariel;
}

p{
    font-family: "Matemasie", "Kalnia Glaze", "lucida console", "courier new";
    /* em is the standard or normal size for font or 100% */
    font-size: 1em;
    /* font weight  */
    font-weight: bold;
    /* font style */
    font-style: italic;
}

/* fonts.google.com has many fonts that are free to download and use on your own websites. */