/* The "link" class is how all links will be displayed a sudo-class because it is always attached to another element/class */
/* a:link{
    color: hsl(194, 70%, 53%);
} */

/* This "hover" psudo-class is what happens when the mouse hovers over a link element. */
/* a:hover{
    color: hsl(194, 86%, 75%);
    font-size: 1.1em;
} */

/* This "active" psudo-class is what happens to a link when it is being clicked on */
/* a:active{
    color:hsl(240, 80%, 39%);
    font-size: 1.1em;
} */

/* This "visited" psudo-class is how a link is displayed when it has been clicked on. */
/* a:visited{
    color: hsl(0, 0%, 33%);
} */

/* li:hover{
    background-color: hsl(60, 96%, 68%);
} */

/* The "not()" psudo-class is used to address the css that will effect anything that is not in the state specified in the --> "(*)"  */
/* li:not(:hover){
    background-color: rgb(18, 173, 18);
} */

/* The "nth-child()" psudo-class will use its css to effect any "li" element that is specified in the --> (*) */
/* These are the different inputs for the -->(*): nth-child(1 or 2 or 3 ... n) || nth-child(odd) || nth-child(even) || nth-child((n)n)- this means every nth element like 3n would be every 3rd element and if you wanted to start at a specific element you would do nth-child((n)n+k) where k is the starting place */
/* li:nth-child(3n+1){
    background-color: hsl(5, 97%, 45%);
} */

/* This establishes that we want the paragraph desendants of my greeting div element to be padded have a blue background and be invisible on the webpage */
#greeting p{
    background-color: rgb(141, 247, 245);
    padding: 10px;
    display: none;
}

/* This establishes that when I hover over my div greeting element, I want the paragraph descendants of said element to become a block visable as if they were a block level element */
#greeting:hover p{
    display: block;
}