h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: hsl(60, 100%, 71%);
}

p::selection{
    color: hsl(108, 83%, 56%);
    background-color: hsl(0, 0%, 30%);
}

/* the before and after sudo-elements can addsome content before or after some element */
#fruit li::before{
    /* content: "👌"; */
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#fruit li::marker{
    content: "✔️";
    font-size: 1.2em;
    /* It seems as though the newer versions of emojis do not allow for as much editability as previous versions. This warrents further research. */
    color: hsl(120, 75%, 55%);
    
}