body{
    background-image: url(../images/ceo_buildings.jpg);
    /* Without using the background: no-repeat property the image choosen will repeat multiple times on the page instead of just once over the whole page. */
    background-repeat: no-repeat;
    /* in order to center the background image into the center of the webpage you must use the background position property.  */
    background-position: center;
    /* The background attachment property sets weather or not the image scrolls with the rest of the webpage */
    background-attachment: fixed;
    /* the background size cover property will make the image take up the full webpage. */
    background-size: cover;

}