div{
    background-color: rgb(228, 117, 117);
    width: 100px;
    height: 100px;

    /* the block value/state makes this element a block level element now. */
    /* display: block; */

    /* the "inline" value/state makes the element an inline element and now it only takes as much space as is necessary */
    /* display: inline; */

    /* it is like inline, but we can add a width and a height */
    /* display: inline-block; */

    /* the "none" value/state will not display the element. */
    /* display: none; */

    
    display: inline-block;

    /* very similar to display it makes elements invisible, but they still keep their properties and any space indicated by the display property. */
    visibility: hidden;


}

span{
    background-color: rgb(129, 129, 235);
    width: 100px;
    height: 100px;

    
    /* Using this block value/state changes the space the span element is allowed to take up and allows it to now use the width and height attributes */
    /* display: block; */

    /* the "inline" value/state makes the element an inline element and now it only takes as much space as is necessary */
    /* display: inline; */

    /* it is like inline, but we can add a width and a height */
    /* display: inline-block; */

    /* the "none" value/state will not display the element. */
    /* display: none; */

    display: inline-block;
    
    /* very similar to display it makes elements invisible, but they still keep their properties and any space indicated by the display property. */
    visibility: hidden;


}