/* This lets the dropdown menu only be accessable when a user hovers directly over the word food */
.dropdown{
    display: inline-block;
}

/* This changes the background color of any dropdown buttons color to a light grey
   Then it changes the font color to white
   then it gives these button elements padding and takes away their borders
   And finally it turns the cursor to a cursor to a pointer when ove these button elements  */

.dropdown button{
    background-color: hsl(210, 10%, 68%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* This makes any link or a elements to become block level elements
   And then it turns the color of text to be black and takes all the text decoration or underline away
   Finally there is a bit of padding around the content in the dropdown menu  */
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

/* This sets the style information for the dropdown menus content and also forces the content to remain hidden */
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

/* This makes it so that the hidden dropdown menu content is only seen when the user hovers over the dropdown menue and its content*/
.dropdown:hover .content{
    display: block;
}

/* This sets the style for the dropdown menu button when the button is being hovered over by the user */
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}