h1{

    /* In place of the below commented out three lines of css we can add in a short version in order to create the same results */
    /* This short hand css gives us the border style, width, and color */
    border: 3px outset hsl(120, 82%, 45%);




    /* types of boarders: solid, dashesd, dotted, double, groove, ridge, inset, ||outset||, none(if something has a natural boarder and you want to remove it.) */
    /* border-style: outset;
    border-width: 3px;
    border-color: hsl(120, 82%, 45%); */


    /* The higher the number of pixles the more rounder the corners will be */
    border-radius: 5px;
}

p{
    border-bottom: 3px outset rgb(215, 31, 215);
    border-top: 3px outset rgb(137, 137, 32);
    border-left: 3px dotted rgb(195, 139, 36);
    border-right: 3px dotted rgb(34, 226, 34);
    
    border-radius: 10px;
}