body{
    /* colors can be choosen by using names,RGB values, Hexadecimal values, or HSL values */
    background-color: rgb(41,41,41);
}
#p1{
    /* color by name */
    color: tomato;
}

#p2{
    /* color by RGB */
    color: rgb(102,222,255);
}

#p3{
    /* color by Hex value */
    color: #59ff5f
}

#p4{
    /* color by HSL values */
    color: hsl(283, 100%, 64%);
}

