/*  This is an external style sheet which can be reused on multiple pages of the website by linking those seperate pages via the header link element tag */


body{
    background-color: black;
}

h1{
    color:white;
}

/* These are id css specifications */

#p1{
    color:red;
}
#p2{
    color:orange;
}
#p3{
    color:yellow;

}
#p4{
    color:green;
}

/* These are class css specifications */

.odd{
    border-color: blue;
}

.even{
    border-color:red;
}
