h1{
    /* The first pixle value offsets the shadow to the right or left the second value is for the vertical offset, and a third number would be for a blur effect */
    /* You can add a color to the shadow as well. */
    /* You can add more than one shadow effect to a sigle element, and each shadow is comma seperated.*/
    /* by making the second shadow negative in its horizantal and vertical it will put the shadow up and to the left instead of down to the right. */
    /* Text shadows are used for creating shadows for text only. */
    text-shadow: 3px 3px 5px hsl(120, 90%, 39%), -3px -3px 5px hsl(302, 54%, 42%);
}

#box1{
    width:100px;
    height:100px;
    background-color: hsl(84, 59%, 93%);
    /* box shadows are used for all other elements outside of text. */
    box-shadow: 3px 3px 5px;
}