body{
    margin:0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}

#box1{
    background-color: hsl(120, 81%, 58%);
    /* The auto property when used with a direction like below sets the object to go to the opposite end becasue the margin takes up all the space on the opposite side of the object.*/
    /* so if you wanted something to be centered on a page you could put auto in the "margin:" value section to do so. */
    /* margin-left: auto; */
}

#box2{
    background-color: hsl(279, 68%, 57%);
}